<h1>Doctors#index</h1>
<p>Find me in app/views/doctors/index.html.erb</p>

<% @doctors.each do |doctor| %>
  <p>
    <%= link_to(doctor.name, patient_url(doctor.id)) %>
    <%= link_to("Edit", edit_patient_url(doctor.id)) %> -
    <%= link_to("Delete", doctor_url(doctor.id), :method => :delete) %>
  </p>
<% end %>

<p>
<%= link_to "New Doctor", new_doctor_url %>
</p>